.carousel {
    position: relative;
    width: 100%;
    
    .carousel-container {
        @extend .clearfix;
        width: 500%;
        -webkit-transition: left .6s ease;
           -moz-transition: left .6s ease;
                transition: left .6s ease;
        
        > li {
            float: left;
            width: 20%;

            > a {
                display: block;
                width: 100%;
                
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    .carousel-nav {
        @extend .clearfix;
        position: absolute;
        left: 50%;
        bottom: 10px;

        > li {
            float: left;
            padding: 8px;
            > span {
                display: block;
                width: 10px;
                height: 10px;
                webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                       border-radius: 50%;
                background-color: #555;
            }
        }
        > .active span {
            background-color: #ddd;
        }
    }
    .forward-btn, .backward-btn {
        position: absolute;
        top: 50%;
        margin-top: -17px;
    }
    .forward-btn {
        left: 0;
    }
    .backward-btn {
        right: 0;
    }
}