.dropdown-arrow {
    @include display-inline-block;
    margin-top: -2px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    &.down {
        border-top: 4px solid #000;
    }
    &.up {
        border-bottom: 4px solid #000;
    }
}