@charset "utf-8";

.footer-inner {
    padding: 42px 100px 138px 100px;
    border-top: 1px solid #d1d1d1;
    margin-top: 78px;
    
    .shop-contact {
        float: left;
        padding: 12px 16px;
        border: 1px solid #ccc;
        text-align: center;

        span {
            display: block;
            margin-top: 6px;
        }
    }
    .shop-info {
        float: left;
        @include clearfix;

        ul {
            float: left;
            margin-left: 90px;

            > li {

                > a {
                    color: #666;
                    font-size: 15px;
                    line-height: 26px;
                }
            }
            > li:first-child {
                margin-bottom: 10px;
                
                > a {
                    font-size: 20px;
                    color: #333;
                }
            }
        }
    }
    .web-footer {
        margin-top: 42px;
        text-align: center;

        ul {
            @include display-inline-block;
            @include clearfix;

            li {
                float: left;
                a {
                    display: block;
                    padding: 0px 10px;
                    color: #666;
                }
                + li {
                    border-left: 1px solid #aaa;
                }
            }
        }
    }
}
/* 回到顶部 */
.popup {
    position: fixed;
    right: 10px;
    bottom: 20px;

    .picture {
        img {
            width: 121px;
            height: 81px;
        }
    }
    .qrcode {
        padding: 10px;
        border: 1px solid #e0e0e0;
        
        img {
            width: 100px;
        }
    }
    .cart, .toTop {
        margin-top:-1px;
        border: 1px solid #e0e0e0;
        padding: 10px 10px 10px 38px;
        font-weight: 700;
        background-position: 9px center;
        background-repeat: no-repeat;
    }
    .cart {
        background-image: url(../image/cart.png);
    }
    .toTop {
        background-image: url(../image/to-top.png);
    }
}