/* 1200px 12grid */
$grid-gutter: 5px;
$grid-number: 12;
$row-width: 1200px;

.row {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
    overflow: hidden;

    @include clearfix;
}
@for $i from 1 through $grid-number {
    .grid-#{$i} {
        float: left;
        width: $row-width/$grid-number * $i;
        min-height: 20px;

        .grid-inner {
            padding-left: $grid-gutter;
            padding-right: $grid-gutter;
        }
    }
}

@for $i from 1 through $grid-number {
    .row .grid-offset-#{$i} {
        margin-left: $row-width/$grid-number * $i;
    }
}

@for $i from 1 through $grid-number {
    .row .grid-pull-#{$i} {
        margin-right: $row-width/$grid-number * $i;
    }
}