@charset "utf-8";

.block-center {
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.clearfix {
  @include clearfix;
}

.hide {
    display: none !important;
}
.pdl0 {
    padding-left: 0!important;
}
.pdr0 {
    padding-right: 0!important;
}
body {
    background-color: #fff;
    color: $lightColor;
    line-height:  $lineHeight;
    font-size: $fontSize;
    font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif; 
}
.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
    @include clearfix;

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}