.material {
    border: 1px solid #f0f0f0;
    padding: 24px 5px 5px 5px;
    margin-bottom: 30px;

    .material-image {
        text-align: center;
        > img {

        }
    }
    .material-descript {
        padding: 12px;
        .price {
            @include clearfix;

            .real {
                color: #eb1319;
            }
            .factory {
            }
        }
        .name {
            color: #000;
            font-size: 16px;
        }
        .bug {
            button {
                border: 1px solid #aaa;
                background-color: transparent;
            }
        }
    }
}