$topbarColor: #f8f8f8;
$darkColor: #333;
$lightColor: #666;
$lineHeight: (20px/14px);
$fontSize: 14px;
$navbarHeight: 48px;
$btn-primary: #d42c48;
$border-default-color: #f0f0f0;
$price-color: #eb1319;