@charset "UTF-8";
/* line 1, ../sass/includes/_layout.scss */
.block-center {
  margin-left: auto;
  margin-right: auto;
}

/* line 5, ../sass/includes/_layout.scss */
.pull-right {
  float: right;
}

/* line 8, ../sass/includes/_layout.scss */
.pull-left {
  float: left;
}

/* line 11, ../sass/includes/_layout.scss */
.clearfix, .container, .shopbar .search, .navbar, .nav, .banner-container ul.banner, .hot .hot-head, .material .material-inner .material-descript .price, .footer-inner .shop-info, .footer-inner .web-footer ul {
  *zoom: 1;
}
/* line 14, ../sass/includes/_layout.scss */
.clearfix:before, .container:before, .shopbar .search:before, .navbar:before, .nav:before, .banner-container ul.banner:before, .hot .hot-head:before, .material .material-inner .material-descript .price:before, .footer-inner .shop-info:before, .footer-inner .web-footer ul:before, .clearfix:after, .container:after, .shopbar .search:after, .navbar:after, .nav:after, .banner-container ul.banner:after, .hot .hot-head:after, .material .material-inner .material-descript .price:after, .footer-inner .shop-info:after, .footer-inner .web-footer ul:after {
  display: table;
  content: ' ';
}
/* line 18, ../sass/includes/_layout.scss */
.clearfix:after, .container:after, .shopbar .search:after, .navbar:after, .nav:after, .banner-container ul.banner:after, .hot .hot-head:after, .material .material-inner .material-descript .price:after, .footer-inner .shop-info:after, .footer-inner .web-footer ul:after {
  clear: both;
}

/* line 22, ../sass/includes/_layout.scss */
.hide {
  display: none !important;
}

/* line 25, ../sass/includes/_layout.scss */
.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1190px;
}
/* line 33, ../sass/includes/_layout.scss */
.container > .row {
  margin-left: -5px;
  margin-right: -5px;
}

/* line 12, ../sass/home.scss */
body {
  background-color: #fff;
  line-height: 1.42857;
  font-size: 14px;
  color: #666;
  font-family: '黑体' Helvetica Arial sans-serif;
}

/* line 19, ../sass/home.scss */
a {
  text-decoration: none;
}

/* line 22, ../sass/home.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 28, ../sass/home.scss */
.topbar {
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 15px;
  background-color: #f8f8f8;
}
/* line 36, ../sass/home.scss */
.topbar a {
  color: #333;
}
/* line 39, ../sass/home.scss */
.topbar .attent-btn {
  margin-right: 18px;
}
/* line 43, ../sass/home.scss */
.topbar .favorate-btn {
  margin-right: 50px;
}
/* line 46, ../sass/home.scss */
.topbar .topbar-welcome {
  color: #999;
  margin-right: 21px;
}
/* line 50, ../sass/home.scss */
.topbar .log, .topbar .signin {
  margin-right: 20px;
}
/* line 53, ../sass/home.scss */
.topbar .hotline {
  color: #333;
}

/* line 57, ../sass/home.scss */
.dropdown-arrow {
  display: inline-block;
  margin-top: -2px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

/* line 68, ../sass/home.scss */
.shopbar {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 73, ../sass/home.scss */
.shopbar .qrcode {
  display: inline-block;
  margin-right: 40px;
}
/* line 76, ../sass/home.scss */
.shopbar .qrcode img {
  display: block;
  width: auto;
  height: 90px;
}
/* line 82, ../sass/home.scss */
.shopbar .brand {
  display: inline-block;
  height: 100%;
  margin-right: 24px;
  vertical-align: 10px;
}
/* line 88, ../sass/home.scss */
.shopbar .name-area {
  display: inline-block;
  padding-left: 12px;
  margin-right: 20px;
  border-left: 1px solid #aaa;
  vertical-align: 30px;
}
/* line 95, ../sass/home.scss */
.shopbar .name-area span {
  font-size: 16px;
  display: block;
}
/* line 99, ../sass/home.scss */
.shopbar .name-area .name {
  font-size: 18px;
  color: #333;
}
/* line 104, ../sass/home.scss */
.shopbar .area-choose {
  display: inline-block;
  vertical-align: 30px;
}
/* line 108, ../sass/home.scss */
.shopbar .security {
  text-align: right;
}
/* line 111, ../sass/home.scss */
.shopbar .security img {
  width: 60px;
  height: 60px;
}
/* line 116, ../sass/home.scss */
.shopbar .search {
  margin-top: 20px;
}
/* line 120, ../sass/home.scss */
.shopbar .search > input {
  display: inline-block;
  float: left;
  width: 290px;
  padding-right: 58px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 20px;
  border: 1px solid #000;
}
/* line 131, ../sass/home.scss */
.shopbar .search > button {
  display: inline-block;
  float: left;
  height: 42px;
  width: 57px;
  margin-left: -57px;
  text-indent: -999px;
  background-color: #000;
  background-image: url(../image/search.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 148, ../sass/home.scss */
.navbar {
  margin-bottom: 20px;
}
/* line 152, ../sass/home.scss */
.navbar .navbar-left {
  float: left;
  width: 228px;
  min-height: 50px;
}
/* line 158, ../sass/home.scss */
.navbar .navbar-left .category-bar {
  height: 22.85714px;
  width: 228px;
  padding-top: 13.57143px;
  padding-bottom: 13.57143px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #313131;
}
/* line 170, ../sass/home.scss */
.navbar .navbar-right {
  padding-left: 228px;
}
/* line 172, ../sass/home.scss */
.navbar .navbar-right .nav {
  height: 50px;
  padding-left: 50px;
  background-color: #000;
}

/* line 180, ../sass/home.scss */
.category .category-detail {
  height: 438px;
  border: 1px solid #aaa;
}
/* line 184, ../sass/home.scss */
.category .category-detail > ul {
  padding: 0 21px 36px 21px;
}
/* line 186, ../sass/home.scss */
.category .category-detail > ul > li {
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 190, ../sass/home.scss */
.category .category-detail > ul > li + li {
  border-top: 1px solid #ddd;
}
/* line 193, ../sass/home.scss */
.category .category-detail > ul .category-name {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  margin-bottom: 12px;
}

/* line 203, ../sass/home.scss */
.nav {
  background-image: url("../image/nav-bottom-line.png");
  background-size: 72px auto;
  background-position: 50px bottom;
  background-repeat: no-repeat;
}
/* line 211, ../sass/home.scss */
.nav > li {
  float: left;
}
/* line 213, ../sass/home.scss */
.nav > li a {
  display: block;
  padding-top: 13.57143px;
  padding-bottom: 13.57143px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

/* line 226, ../sass/home.scss */
.banner-container {
  position: relative;
  height: 440px;
  width: 100%;
  overflow: hidden;
}
/* line 232, ../sass/home.scss */
.banner-container ul.banner {
  position: relative;
  width: 300%;
  height: 100%;
}
/* line 239, ../sass/home.scss */
.banner-container ul.banner li {
  -moz-transition: left 1s linear;
  -o-transition: left 1s linear;
  -webkit-transition: left 1s linear;
  transition: left 1s linear;
  float: left;
  width: 33.333%;
  height: 100%;
}
/* line 244, ../sass/home.scss */
.banner-container ul.banner li a {
  display: block;
  height: 100%;
}
/* line 247, ../sass/home.scss */
.banner-container ul.banner li a img {
  width: 100%;
  height: 100%;
}
/* line 256, ../sass/home.scss */
.banner-container:hover .turn {
  display: block;
}
/* line 260, ../sass/home.scss */
.banner-container .banner-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
/* line 264, ../sass/home.scss */
.banner-container .banner-dots span {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../image/nav-dot.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 272, ../sass/home.scss */
.banner-container .banner-dots .active {
  background-image: url(../image/nav-dot-active.png);
}
/* line 276, ../sass/home.scss */
.banner-container .turn {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -33px;
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 286, ../sass/home.scss */
.banner-container .turn.prev-page {
  left: 0;
  background-image: url(../image/left-arrow.png);
}
/* line 290, ../sass/home.scss */
.banner-container .turn.next-page {
  right: 0;
  background-image: url(../image/right-arrow.png);
}

/* line 296, ../sass/home.scss */
#recommend_content {
  margin-bottom: 36px;
}
/* line 299, ../sass/home.scss */
#recommend_content .lg-image {
  width: 100%;
  margin-bottom: 5px;
}
/* line 303, ../sass/home.scss */
#recommend_content .md-image {
  float: left;
  width: 50%;
}

/* line 308, ../sass/home.scss */
#hot_content {
  margin-bottom: 30px;
}

/* line 312, ../sass/home.scss */
.hot .hot-head {
  margin-bottom: 30px;
}
/* line 316, ../sass/home.scss */
.hot .hot-head .hot-title {
  float: left;
  width: 186px;
  height: 40px;
  line-height: 40px;
  padding-left: 21px;
  color: #fff;
  font-size: 21px;
  background-image: url(../image/hot-title-bg.png);
  background-repeat: no-repeat;
}
/* line 327, ../sass/home.scss */
.hot .hot-head .hot-more {
  float: right;
  height: 40px;
  line-height: 40px;
}

/* line 339, ../sass/home.scss */
.material {
  float: left;
  width: 282.5px;
}
/* line 343, ../sass/home.scss */
.material + .material {
  margin-left: 20px;
}
/* line 346, ../sass/home.scss */
.material .material-inner {
  border: 1px solid #333;
  padding: 24px 5px 5px 5px;
}
/* line 350, ../sass/home.scss */
.material .material-inner .material-image {
  text-align: center;
}
/* line 356, ../sass/home.scss */
.material .material-inner .material-descript {
  padding: 12px;
}
/* line 361, ../sass/home.scss */
.material .material-inner .material-descript .price .real {
  color: #f00;
}
/* line 367, ../sass/home.scss */
.material .material-inner .material-descript .name {
  color: #000;
  font-size: 16px;
}
/* line 372, ../sass/home.scss */
.material .material-inner .material-descript .bug button {
  border: 1px solid #aaa;
  background-color: transparent;
}

/* line 381, ../sass/home.scss */
.footer-inner {
  padding: 42px 100px 138px 100px;
}
/* line 384, ../sass/home.scss */
.footer-inner .shop-contact {
  float: left;
  padding: 12px 16px;
  border: 1px solid #333;
  text-align: center;
}
/* line 390, ../sass/home.scss */
.footer-inner .shop-contact span {
  display: block;
  margin-top: 6px;
}
/* line 395, ../sass/home.scss */
.footer-inner .shop-info {
  float: left;
}
/* line 399, ../sass/home.scss */
.footer-inner .shop-info ul {
  float: left;
  margin-left: 90px;
}
/* line 405, ../sass/home.scss */
.footer-inner .shop-info ul > li > a {
  color: #666;
  font-size: 15px;
  line-height: 26px;
}
/* line 411, ../sass/home.scss */
.footer-inner .shop-info ul > li:first-child {
  margin-bottom: 10px;
}
/* line 414, ../sass/home.scss */
.footer-inner .shop-info ul > li:first-child > a {
  font-size: 20px;
  color: #333;
}
/* line 421, ../sass/home.scss */
.footer-inner .web-footer {
  margin-top: 42px;
  text-align: center;
}
/* line 425, ../sass/home.scss */
.footer-inner .web-footer ul {
  display: inline-block;
}
/* line 429, ../sass/home.scss */
.footer-inner .web-footer ul li {
  float: left;
}
/* line 431, ../sass/home.scss */
.footer-inner .web-footer ul li a {
  display: block;
  padding: 0px 10px;
  color: #666;
}
/* line 436, ../sass/home.scss */
.footer-inner .web-footer ul li + li {
  border-left: 1px solid #aaa;
}
