@charset "UTF-8";
/* line 12, ../sass/home.scss */
body {
  background-color: #fff;
  line-height: 1.42857;
  font-size: 14px;
  color: #666;
  font-family: '黑体' Helvetica Arial sans-serif;
}

/* line 19, ../sass/home.scss */
a {
  text-decoration: none;
}

/* line 22, ../sass/home.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 28, ../sass/home.scss */
.topbar {
  height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 21px;
  padding-right: 15px;
  background-color: #f8f8f8;
}
/* line 36, ../sass/home.scss */
.topbar a {
  color: #333;
}
/* line 39, ../sass/home.scss */
.topbar .attent-btn {
  margin-right: 18px;
}
/* line 42, ../sass/home.scss */
.topbar .favorate-btn {
  margin-right: 50px;
}
/* line 45, ../sass/home.scss */
.topbar .topbar-welcome {
  color: #999;
  margin-right: 21px;
}
/* line 49, ../sass/home.scss */
.topbar .log, .topbar .signin {
  margin-right: 20px;
}
/* line 52, ../sass/home.scss */
.topbar .hotline {
  color: #333;
}

/* line 56, ../sass/home.scss */
.dropdown-arrow {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: -2px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

/* line 67, ../sass/home.scss */
.shopbar {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 72, ../sass/home.scss */
.shopbar .qrcode {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 40px;
}
/* line 75, ../sass/home.scss */
.shopbar .qrcode img {
  display: block;
  width: auto;
  height: 90px;
}
/* line 81, ../sass/home.scss */
.shopbar .brand {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 24px;
  margin-top: 10px;
}
/* line 86, ../sass/home.scss */
.shopbar .name-area {
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-left: 12px;
  margin-right: 20px;
  border-left: 1px solid #aaa;
  margin-top: 30px;
}
/* line 93, ../sass/home.scss */
.shopbar .name-area span {
  font-size: 16px;
  display: block;
}
/* line 97, ../sass/home.scss */
.shopbar .name-area .name {
  font-size: 18px;
  color: #333;
}
/* line 102, ../sass/home.scss */
.shopbar .area-choose {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: 57px;
}
/* line 106, ../sass/home.scss */
.shopbar .security {
  text-align: right;
}
/* line 109, ../sass/home.scss */
.shopbar .security img {
  width: 60px;
  height: 60px;
}
/* line 114, ../sass/home.scss */
.shopbar .search {
  margin-top: 20px;
  *zoom: 1;
}
/* line 4, ../sass/includes/_mixin.scss */
.shopbar .search:before, .shopbar .search:after {
  display: table;
  content: ' ';
}
/* line 8, ../sass/includes/_mixin.scss */
.shopbar .search:after {
  clear: both;
}
/* line 118, ../sass/home.scss */
.shopbar .search > input {
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: left;
  width: 290px;
  padding-right: 58px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 20px;
  border: 1px solid #000;
}
/* line 129, ../sass/home.scss */
.shopbar .search > button {
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: left;
  height: 34px;
  width: 57px;
  margin-left: -57px;
  text-indent: -9999px;
  text-transform: capitalize;
  background-color: #000;
  background-image: url(../image/search.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 147, ../sass/home.scss */
.navbar {
  margin-bottom: 24px;
}

/* 全部商品分类 */
/* line 152, ../sass/home.scss */
.category {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100%;
}
/* line 157, ../sass/home.scss */
.category .category-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #313131;
}
/* line 168, ../sass/home.scss */
.category .category-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}
/* line 174, ../sass/home.scss */
.category .category-dropdown .category-detail {
  height: 438px;
  border: 1px solid #aaa;
}
/* line 178, ../sass/home.scss */
.category .category-dropdown .category-detail > ul {
  padding: 0 21px 36px 21px;
}
/* line 181, ../sass/home.scss */
.category .category-dropdown .category-detail > ul > li {
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 188, ../sass/home.scss */
.category .category-dropdown .category-detail > ul > li + li {
  border-top: 1px solid #ddd;
}
/* line 191, ../sass/home.scss */
.category .category-dropdown .category-detail > ul .category-name {
  display: block;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  margin-bottom: 12px;
}

/* line 202, ../sass/home.scss */
.nav {
  height: 50px;
  padding-left: 50px;
  background-image: url("../image/nav-bottom-line.png");
  background-color: #000;
  background-size: 72px auto;
  background-position: 50px bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../sass/includes/_mixin.scss */
.nav:before, .nav:after {
  display: table;
  content: ' ';
}
/* line 8, ../sass/includes/_mixin.scss */
.nav:after {
  clear: both;
}
/* line 214, ../sass/home.scss */
.nav > li {
  float: left;
}
/* line 216, ../sass/home.scss */
.nav > li a {
  display: block;
  padding-top: 13.57143px;
  padding-bottom: 13.57143px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

/* line 229, ../sass/home.scss */
.banner-container {
  position: relative;
  height: 440px;
  width: 100%;
  overflow: hidden;
}
/* line 235, ../sass/home.scss */
.banner-container ul.banner {
  position: relative;
  width: 300%;
  height: 100%;
  *zoom: 1;
}
/* line 4, ../sass/includes/_mixin.scss */
.banner-container ul.banner:before, .banner-container ul.banner:after {
  display: table;
  content: ' ';
}
/* line 8, ../sass/includes/_mixin.scss */
.banner-container ul.banner:after {
  clear: both;
}
/* line 242, ../sass/home.scss */
.banner-container ul.banner li {
  -moz-transition: left 1s linear;
  -o-transition: left 1s linear;
  -webkit-transition: left 1s linear;
  transition: left 1s linear;
  float: left;
  width: 33.333%;
  height: 100%;
}
/* line 247, ../sass/home.scss */
.banner-container ul.banner li a {
  display: block;
  height: 100%;
}
/* line 250, ../sass/home.scss */
.banner-container ul.banner li a img {
  width: 100%;
  height: 100%;
}
/* line 259, ../sass/home.scss */
.banner-container:hover .turn {
  display: block;
}
/* line 263, ../sass/home.scss */
.banner-container .banner-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
/* line 267, ../sass/home.scss */
.banner-container .banner-dots span {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 14px;
  height: 14px;
  background-image: url(../image/nav-dot.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 275, ../sass/home.scss */
.banner-container .banner-dots .active {
  background-image: url(../image/nav-dot-active.png);
}
/* line 279, ../sass/home.scss */
.banner-container .turn {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -33px;
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 289, ../sass/home.scss */
.banner-container .turn.prev-page {
  left: 0;
  background-image: url(../image/left-arrow.png);
}
/* line 293, ../sass/home.scss */
.banner-container .turn.next-page {
  right: 0;
  background-image: url(../image/right-arrow.png);
}

/* line 299, ../sass/home.scss */
#recommend_content {
  margin-bottom: 36px;
}
/* line 302, ../sass/home.scss */
#recommend_content .lg-image {
  width: 100%;
  margin-bottom: 5px;
}
/* line 306, ../sass/home.scss */
#recommend_content .md-image {
  float: left;
  width: 50%;
}

/* line 311, ../sass/home.scss */
#hot_content {
  margin-bottom: 30px;
}

/* line 315, ../sass/home.scss */
.hot .hot-head {
  margin-bottom: 30px;
  *zoom: 1;
}
/* line 4, ../sass/includes/_mixin.scss */
.hot .hot-head:before, .hot .hot-head:after {
  display: table;
  content: ' ';
}
/* line 8, ../sass/includes/_mixin.scss */
.hot .hot-head:after {
  clear: both;
}
/* line 319, ../sass/home.scss */
.hot .hot-head .hot-title {
  float: left;
  width: 186px;
  height: 40px;
  line-height: 40px;
  padding-left: 21px;
  color: #fff;
  font-size: 21px;
  background-image: url(../image/hot-title-bg.png);
  background-repeat: no-repeat;
}
/* line 330, ../sass/home.scss */
.hot .hot-head .hot-more {
  float: right;
  height: 40px;
  line-height: 40px;
}

/* line 342, ../sass/home.scss */
.material {
  border: 1px solid #333;
  padding: 24px 5px 5px 5px;
}
/* line 346, ../sass/home.scss */
.material .material-image {
  text-align: center;
}
/* line 352, ../sass/home.scss */
.material .material-descript {
  padding: 12px;
}
/* line 354, ../sass/home.scss */
.material .material-descript .price {
  *zoom: 1;
}
/* line 4, ../sass/includes/_mixin.scss */
.material .material-descript .price:before, .material .material-descript .price:after {
  display: table;
  content: ' ';
}
/* line 8, ../sass/includes/_mixin.scss */
.material .material-descript .price:after {
  clear: both;
}
/* line 357, ../sass/home.scss */
.material .material-descript .price .real {
  color: #f00;
}
/* line 363, ../sass/home.scss */
.material .material-descript .name {
  color: #000;
  font-size: 16px;
}
/* line 368, ../sass/home.scss */
.material .material-descript .bug button {
  border: 1px solid #aaa;
  background-color: transparent;
}

/* line 376, ../sass/home.scss */
.footer-inner {
  padding: 42px 100px 138px 100px;
}
/* line 379, ../sass/home.scss */
.footer-inner .shop-contact {
  float: left;
  padding: 12px 16px;
  border: 1px solid #333;
  text-align: center;
}
/* line 385, ../sass/home.scss */
.footer-inner .shop-contact span {
  display: block;
  margin-top: 6px;
}
/* line 390, ../sass/home.scss */
.footer-inner .shop-info {
  float: left;
  *zoom: 1;
}
/* line 4, ../sass/includes/_mixin.scss */
.footer-inner .shop-info:before, .footer-inner .shop-info:after {
  display: table;
  content: ' ';
}
/* line 8, ../sass/includes/_mixin.scss */
.footer-inner .shop-info:after {
  clear: both;
}
/* line 394, ../sass/home.scss */
.footer-inner .shop-info ul {
  float: left;
  margin-left: 90px;
}
/* line 400, ../sass/home.scss */
.footer-inner .shop-info ul > li > a {
  color: #666;
  font-size: 15px;
  line-height: 26px;
}
/* line 406, ../sass/home.scss */
.footer-inner .shop-info ul > li:first-child {
  margin-bottom: 10px;
}
/* line 409, ../sass/home.scss */
.footer-inner .shop-info ul > li:first-child > a {
  font-size: 20px;
  color: #333;
}
/* line 416, ../sass/home.scss */
.footer-inner .web-footer {
  margin-top: 42px;
  text-align: center;
}
/* line 420, ../sass/home.scss */
.footer-inner .web-footer ul {
  display: inline-block;
  zoom: 1;
  *display: inline;
  *zoom: 1;
}
/* line 4, ../sass/includes/_mixin.scss */
.footer-inner .web-footer ul:before, .footer-inner .web-footer ul:after {
  display: table;
  content: ' ';
}
/* line 8, ../sass/includes/_mixin.scss */
.footer-inner .web-footer ul:after {
  clear: both;
}
/* line 424, ../sass/home.scss */
.footer-inner .web-footer ul li {
  float: left;
}
/* line 426, ../sass/home.scss */
.footer-inner .web-footer ul li a {
  display: block;
  padding: 0px 10px;
  color: #666;
}
/* line 431, ../sass/home.scss */
.footer-inner .web-footer ul li + li {
  border-left: 1px solid #aaa;
}
