@charset "UTF-8";
/*变量与占位符*/
.border-top {
  border-top: 1px solid #ccc; }

body {
  font: 12px/1.5; }

.module.module-something {
  background: red; }

/*数组*/
a {
  color: #08c; }
  a:hover {
    color: #333; }

.some-selector {
  display: block; }

.a {
  width: 300px; }
