@charset "utf-8";

@import "normalize";
@import "compass/css3";
@import "includes/param";
@import "includes/mixin";
@import "includes/layout";
@import "includes/grid";
@import "includes/btn";
@import "includes/dropdown";

@import "includes/topbar";
@import "includes/shopbar";
@import "includes/category";
@import "includes/nav";
@import "includes/slick";
@import "includes/material";
@import "includes/footer";

.navbar {
    margin-bottom: 24px;
}

.banner {
    position: relative;
    width: 100%;
    height: 440px;
    overflow: hidden;
    > li {
        height: 440px;
        img {
            width: 100%;
        }
    }
}
// .banner-container {

//     ul.banner {
//         position: relative;
//         width: 100%;
//         height: 100%;

//         @include clearfix;

//         li {
//             @include transition(left linear 1s);
//             float: left;
//             width: 33.333%;
//             height: 100%;
//             a {
//                 display: block;
//                 height: 100%;
//                 img {
//                     width: 100%;
//                     height: 100%; 
//                 }
//             }
//         }
//     }

//     &:hover {
//         .turn {
//             display: block;
//         }
//     }
//     .banner-dots {
//         position: absolute;
//         bottom: 10px;
//         left: 50%;
//         span {
//             @include display-inline-block;
//             width: 14px;
//             height: 14px;
//             background-image: url(../image/nav-dot.png);
//             background-repeat: no-repeat;
//             background-size: 100% 100%;
//         }
//         .active {
//             background-image: url(../image/nav-dot-active.png);
//         }
//     }
//     .turn {
//         display: none;
//         position: absolute;
//         top: 50%;
//         margin-top: -33px;
//         width: 66px;
//         height: 66px;
//         background-repeat: no-repeat;
//         background-size: 100% 100%;

//         &.prev-page {
//             left: 0;
//             background-image: url(../image/left-arrow.png);
//         }
//         &.next-page {
//             right: 0;
//             background-image: url(../image/right-arrow.png);
//         }
//     }
// }
#recommend_content {
    margin-bottom: 36px;

    .lg-image {
        width: 100%;
        margin-bottom: 5px;
    }
    .md-image {
        float: left;
        width: 50%;
    }
}
#hot_content {
    margin-bottom: 30px;
}
.hot {
    .hot-head {
        margin-bottom: 30px;
        @include clearfix;

        .hot-title {
            float: left;
            width: 186px;
            height: 40px;
            line-height: 40px;
            padding-left: 21px;
            color: #fff;
            font-size: 24px;
            background-image: url(../image/hot-title-bg.png);
            background-repeat: no-repeat;
        }
        .hot-more {
            float: right;
            height: 40px;
            line-height: 40px;
        }
    }
}
