@charset "utf-8";

@import "compass/css3";
@import "includes/mixin";
@import "includes/slick";

$topbarColor: #f8f8f8;
$darkColor: #333;
$lightColor: #666;
$lineHeight: (20px/14px);
$fontSize: 14px;

body {
    background-color: #fff;
    line-height:  $lineHeight;
    font-size: $fontSize;
    color: $lightColor;
    font-family: '黑体' Helvetica Arial sans-serif; 
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
$topbarHeight: 50px;
.topbar {
    height: $lineHeight*$fontSize;
    padding-top: ($topbarHeight - $lineHeight*$fontSize)/2;
    padding-bottom: ($topbarHeight - $lineHeight*$fontSize)/2;
    padding-left: 21px;
    padding-right: 15px;
    background-color: $topbarColor;

    a {
        color: #333;
    }
    .attent-btn {
        margin-right: 18px;
    }
    .favorate-btn {
        margin-right: 50px;
    }
    .topbar-welcome {
        color: #999;
        margin-right:21px;
    }
    .log, .signin {
        margin-right: 20px;
    }
    .hotline {
        color: #333;
    }
}
.dropdown-arrow {
    @include display-inline-block;
    margin-top: -2px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
$shopbarHeight: 150px;
.shopbar {
    height: 120px;
    padding-top: ($shopbarHeight - 120)/2;
    padding-bottom: ($shopbarHeight - 120)/2;

    .qrcode {
        @include display-inline-block;
        margin-right: 40px;
        img {
            display: block;
            width: auto;
            height: 90px
        }
    }
    .brand {
        @include display-inline-block;
        margin-right: 24px;
        margin-top: 10px;
    }
    .name-area {
        @include display-inline-block;
        padding-left: 12px;
        margin-right: 20px;
        border-left: 1px solid #aaa;
        margin-top: 30px;

        span {
            font-size: 16px;
            display: block;
        }
        .name {
            font-size: 18px;
            color: #333;
        }
    }
    .area-choose {
        @include display-inline-block;
        margin-top: 57px;
    }
    .security {
        text-align: right;

        img {
            width: 60px;
            height: 60px;
        }
    }
    .search {
        margin-top: 20px;
        @include clearfix;

        > input {
            @include display-inline-block;
            float: left;
            width: 290px;
            padding-right: 58px;
            padding-left: 10px;
            padding-top: 6px;
            padding-bottom: 6px;
            height: 20px;
            border: 1px solid #000;
        }
        > button {
            @include display-inline-block;
            float: left;
            height: 34px;
            width: 57px;
            margin-left: -57px;
            text-indent: -9999px;
            text-transform:capitalize;
            background-color: #000;
            background-image: url(../image/search.png);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}


$navbarHeight: 50px;
.navbar {
    margin-bottom: 24px;
}

/* 全部商品分类 */
.category {
    position: relative;
    @include display-inline-block;
    width: 100%;

    .category-title {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: #313131;
    }

    .category-dropdown {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;

        .category-detail {
            height: 438px;
            border: 1px solid #aaa;
            
            > ul {
                padding: 0 21px 36px 21px;

                > li {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                > li + li {
                    border-top: 1px solid #ddd; 
                }
                .category-name {
                    display: block;
                    font-weight: 600;
                    font-size: 16px;
                    color: #333;
                    margin-bottom: 12px;
                }
            }
        }
    }
}
.nav {
    position: relative;
    height: 50px;
    padding-left: 50px;
    background-image: url("../image/nav-bottom-line.png");
    background-color: #000;
    background-size: 72px auto;
    background-position: 50px bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    @include transition-property(background-position);
    @include transition-duration(.4s);

    @include clearfix;

    > li {
        float: left;
        a {
            display: block;
            padding-top: ($navbarHeight - 16px*$lineHeight)/2;
            padding-bottom: ($navbarHeight - 16px*$lineHeight)/2;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
        }
    }
}
.banner {
    position: relative;
    width: 100%;
    height: 440px;
    overflow: hidden;
    > li {
        height: 440px;
        img {
            width: 100%;
        }
    }
}
// .banner-container {

//     ul.banner {
//         position: relative;
//         width: 100%;
//         height: 100%;

//         @include clearfix;

//         li {
//             @include transition(left linear 1s);
//             float: left;
//             width: 33.333%;
//             height: 100%;
//             a {
//                 display: block;
//                 height: 100%;
//                 img {
//                     width: 100%;
//                     height: 100%; 
//                 }
//             }
//         }
//     }

//     &:hover {
//         .turn {
//             display: block;
//         }
//     }
//     .banner-dots {
//         position: absolute;
//         bottom: 10px;
//         left: 50%;
//         span {
//             @include display-inline-block;
//             width: 14px;
//             height: 14px;
//             background-image: url(../image/nav-dot.png);
//             background-repeat: no-repeat;
//             background-size: 100% 100%;
//         }
//         .active {
//             background-image: url(../image/nav-dot-active.png);
//         }
//     }
//     .turn {
//         display: none;
//         position: absolute;
//         top: 50%;
//         margin-top: -33px;
//         width: 66px;
//         height: 66px;
//         background-repeat: no-repeat;
//         background-size: 100% 100%;

//         &.prev-page {
//             left: 0;
//             background-image: url(../image/left-arrow.png);
//         }
//         &.next-page {
//             right: 0;
//             background-image: url(../image/right-arrow.png);
//         }
//     }
// }
#recommend_content {
    margin-bottom: 36px;

    .lg-image {
        width: 100%;
        margin-bottom: 5px;
    }
    .md-image {
        float: left;
        width: 50%;
    }
}
#hot_content {
    margin-bottom: 30px;
}
.hot {
    .hot-head {
        margin-bottom: 30px;
        @include clearfix;

        .hot-title {
            float: left;
            width: 186px;
            height: 40px;
            line-height: 40px;
            padding-left: 21px;
            color: #fff;
            font-size: 21px;
            background-image: url(../image/hot-title-bg.png);
            background-repeat: no-repeat;
        }
        .hot-more {
            float: right;
            height: 40px;
            line-height: 40px;
        }
    }
}


$good-number-per-row: 4;
$good-margin: 20px;

.material {
    border: 1px solid #333;
    padding: 24px 5px 5px 5px;
    
    .material-image {
        text-align: center;
        > img {

        }
    }
    .material-descript {
        padding: 12px;
        .price {
            @include clearfix;

            .real {
                color: #f00;
            }
            .factory {
            }
        }
        .name {
            color: #000;
            font-size: 16px;
        }
        .bug {
            button {
                border: 1px solid #aaa;
                background-color: transparent;
            }
        }
    }
}

.footer-inner {
    padding: 42px 100px 138px 100px;

    .shop-contact {
        float: left;
        padding: 12px 16px;
        border: 1px solid #333;
        text-align: center;

        span {
            display: block;
            margin-top: 6px;
        }
    }
    .shop-info {
        float: left;
        @include clearfix;

        ul {
            float: left;
            margin-left: 90px;

            > li {

                > a {
                    color: #666;
                    font-size: 15px;
                    line-height: 26px;
                }
            }
            > li:first-child {
                margin-bottom: 10px;
                
                > a {
                    font-size: 20px;
                    color: #333;
                }
            }
        }
    }
    .web-footer {
        margin-top: 42px;
        text-align: center;

        ul {
            @include display-inline-block;
            @include clearfix;

            li {
                float: left;
                a {
                    display: block;
                    padding: 0px 10px;
                    color: #666;
                }
                + li {
                    border-left: 1px solid #aaa;
                }
            }
        }
    }
}
/* 回到顶部 */
.popup {
    position: fixed;
    right: 10px;
    bottom: 20px;

    .picture {
        img {
            width: 121px;
            height: 81px;
        }
    }
    .qrcode {
        padding: 10px;
        border: 1px solid #e0e0e0;
        
        img {
            width: 100px;
        }
    }
    .cart, .toTop {
        margin-top:-1px;
        border: 1px solid #e0e0e0;
        padding: 10px 10px 10px 38px;
        font-weight: 700;
        background-position: 9px center;
        background-repeat: no-repeat;
    }
    .cart {
        background-image: url(../image/cart.png);
    }
    .toTop {
        background-image: url(../image/to-top.png);
    }
}