@charset "utf-8";

@import "normalize";
@import "compass/css3";
@import "includes/param";
@import "includes/mixin";
@import "includes/layout";
@import "includes/grid";
@import "includes/btn";

@import "includes/topbar";
@import "includes/shopbar";
@import "includes/category";
@import "includes/dropdown";
@import "includes/nav";
@import "includes/material";
@import "includes/breadcrumb";
@import "includes/sideRecommend";
@import "includes/footer";


.promotion-item {
    padding-left: 39px;
    padding-right: 24px;
    background-repeat: no-repeat;
    margin-bottom:20px;
    border: 1px solid $border-default-color;
    color: #000;

    &.hot {
        background-image: url("../image/hot.png");
        background-position: left top;
    }
    &.overdue {
        background-image: url("../image/overdue.png");
        background-position: 70% center;
    }
    .title {
        margin-top: 24px;
        margin-bottom: 20px;
        font-size: 21px;
        font-weight: 700;
        // font-family: tahoma,arial,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    }
    .date, .address { 
        font-size: 15px;
        color: #000;

        .value {
            padding-left: 6px;
        }
    }
    .date {
        margin-bottom: 6px;
    }
    .address {
        margin-bottom: 12px;
    }
}

.promotion-detail {
    .title {
        margin-bottom: 20px;
        font-size: 21px;
        color: #000;
        font-weight: 700;
        // font-family: tahoma,arial,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    }
    .date, .address { 
        font-size: 15px;
        color: #000;

        .value {
            padding-left: 6px;
        }
    }
    .date {
        margin-bottom: 6px;
    }
    .address {
        margin-bottom: 12px;
    }
}
