@charset "utf-8";

@import "normalize";
@import "compass/css3";
@import "includes/param";
@import "includes/mixin";
@import "includes/layout";
@import "includes/grid";
@import "includes/btn";

@import "includes/topbar";
@import "includes/shopbar";
@import "includes/category";
@import "includes/dropdown";
@import "includes/nav";
@import "includes/material";
@import "includes/footer";

.breadcrumb {
    padding-left: 17px;
    @include clearfix;
    > li {
       float: left;
       + li {
            &:before {
                margin-left: 3px;
                margin-right: 3px;
                content: "\003e";
            }
       }
       a {
            padding: 8px;
            line-height: 55px;
            color: $lightColor;
       }
    }
}

.left-side {
    .recommend-header {
        border: 1px solid $border-default-color;
        font-size: 21px;
        color: $darkColor;
        line-height: 57px;
        text-align: center;
        font-weight: 700;
        font-family: tahoma,arial,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
        background-color: #f7f7f7;
    }
    .material {
        margin-top: -1px;
        margin-bottom: 0px;
        padding: 0;
        
        .material-image {
            padding: 20px;
        }
        .material-descript {
            border-top: 1px solid $border-default-color;
            .bug {
                button {
                    border-color: transparent;
                    background-color: $btn-primary;
                    color: #fff;
                }
                span {
                    color: $btn-primary;
                    font-family: Arial;
                    font-size: 18px;
                }
            }
        }
    }
}

.promotion-item {
    padding-left: 39px;
    padding-right: 24px;
    background-image: url("../image/hot.png");
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom:20px;
    border: 1px solid $border-default-color;

    .title {
        margin-top: 24px;
        margin-bottom: 20px;
        font-size: 21px;
        color: #000;
        font-weight: 700;
        font-family: tahoma,arial,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    }
    .date, .address { 
        font-size: 18px;
        color: #000;

        .value {
            padding-left: 6px;
        }
    }
    .date {
        margin-bottom: 6px;
    }
    .address {
        margin-bottom: 12px;
    }
}